.popup {
    background-color: #00000090;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    gap: 20px;
    border-radius: 20px;
    padding: 10px;
    width:330px;
}

.login-title {
    display: flex;
    align-items: center;
    position: relative;
}

.login-title h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    padding: 5px 10px; 
    margin: 0; 
}

.login-title img {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0 8px 8px 0;
    padding: 7px 10px; 
    background-color: red;
    position: absolute;
    right: -35px;
    top: 2px;
    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.5);
}

.login input {
    border: 1px solid black;
    padding: 3px 6px;
    border-radius: 10px;
    width: 240px;
}

.login input:focus {
    border: none;
    outline: 4px solid tomato;
}
.login select {
    padding: 2px 5px;
    margin-left: 10px;
    outline: 1px solid black;
    border: 4px solid white;
}
.login select:focus, .login select:hover {
    border: 4px solid tomato;
    outline: none;
    background-color: rgb(207, 200, 199);
}
.login button {
    border: 4px solid white;
    outline: 1px solid black;
    padding: 2px 8px;
    border-radius: 2px 2px 10px 10px;
    cursor: pointer;
}

.login button:hover {
    border: 4px solid tomato;
    outline: none;
    background-color: rgb(207, 200, 199);
}

.login p span:hover {
    color: tomato;
    cursor: pointer;
}
.errorMessage {
    color: red;
}

@media (min-width: 0) and (max-width:480px) {
    .login {
        gap: 10px;
        width:200px;
    }
    .login-title h2 {
        font-size: 10px;
    }
    .login-title img {
        width: 25px;
        height: 25px;
        padding: 2px 4px; 
        right: -20px;
        box-shadow: -2px 1px 4px rgba(0, 0, 0, 0.5);
    }
    
    .login input {
        border: 1px solid black;
        padding: 1px 4px;
        border-radius: 3px;
        width: 140px;
        font-size: 10px;
    }
    .login p, .login span {
        font-size: 8px;
    }
    .select {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .select label, .select select {
        font-size: 10px;
    }
    .login select {
        margin-left: 10px;
        border: 2px solid white;
    }
    .login select:focus, .login select:hover {
        border: 2px solid tomato;
        outline: none;
        background-color: rgb(207, 200, 199);
    }
    .login button {
        font-size: 10px;
        border: 2px solid white;
        outline: 1px solid black;
        padding: 0 4px;
        border-radius: 2px 2px 10px 10px;
        cursor: pointer;
    }
    .login button:hover {
        border: 2px solid tomato;
        outline: none;
        background-color: rgb(207, 200, 199);
    }
}
